<h1><%= @subsystem.title %></h1>

<p><%= @subsystem.description %></p>

<h2>Locations</h2>
<% if @subsystem.locations.length == 0 %>
  <p>No locations in this subsystem yet!</p>
  <%= link_to 'Add a location', new_cave_subsystem_location_path(@subsystem.cave, @subsystem) %>
<% else %>
  <ul>
    <% @subsystem.locations.each do |location| %>
      <li>
        <a href="<%= cave_subsystem_location_path(@subsystem.cave, @subsystem, location) %>">
          <%= location.title %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>

<a href="<%= cave_path @subsystem.cave %>">
  Back to <%= @subsystem.cave.title %>
</a>
