<%= render 'components/breadcrumb-topper', links: [{ text: @subsystem.cave.title, href: cave_path(@subsystem.cave)}, { text: @subsystem.title, href: cave_subsystem_path(@subsystem.cave, @subsystem) }] %>
<%= page_padding do %>
  <h1><%= @subsystem.title %></h1>
  <% if @subsystem.description.present? %>
    <p><%= @subsystem.description %></p>
  <% end %>
  <section>
    <h2>Locations</h2>
    <% if @subsystem.locations.length == 0 %>
      <p>No locations in this subsystem yet!</p>
      <%= link_to 'Add a location', new_cave_subsystem_location_path(@subsystem.cave, @subsystem) %>
    <% else %>
      <ul>
        <% @subsystem.locations.each do |location| %>
          <li>
            <a href="<%= cave_subsystem_location_path(@subsystem.cave, @subsystem, location) %>">
              <%= location.title %>
            </a>
          </li>
        <% end %>
      </ul>
      <%= link_to 'Add a location', new_cave_subsystem_location_path(@subsystem.cave, @subsystem) %>
    <% end %>
  </section>
  <section>
    <h2>Actions</h2>
    <ul>
      <li><%= link_to "Edit", edit_cave_subsystem_path(@subsystem.cave, @subsystem) %></li>
      <li><%= link_to "Back to #{@subsystem.cave.title}", cave_path(@subsystem.cave) %></li>
    </ul>
  </section>
<% end %>
