<%= page_padding do %>
  <div class="flex flex-wrap gap-4 justify-between items-center">
    <h1><%= @user != current_user ? "#{@user.name_for(current_user)}'s" : "Your" %> profile</h1>
    <% if @user != current_user %>
      <% if current_user.is_partner_of?(@user) %>
        <span class="inline-flex items-center justify-center rounded-full border border-green-500 bg-green-100 dark:border-green-600 dark:bg-green-800 px-2.5 py-0.5 text-green-700">
          <p class="whitespace-nowrap text-sm">Partner</p>
        </span>
      <% elsif current_user.has_pending_request_with_user?(@user) %>
        <div class="flex gap-2 flex-wrap">
          <%= button_to "Accept partnership request", accept_partnership_request_path(@partnership_request.id), method: :patch, class: 'btn-green' %>
          <%= button_to "Decline", partnership_request_path(@partnership_request.id), method: :delete, aria: { label: "Decline partnership request" }, class: 'btn-red' %>
        </div>
      <% elsif current_user.has_sent_request_to_user?(@user) %>
        <span class="inline-flex items-center justify-center rounded-full border border-amber-500 bg-amber-100 dark:border-amber-600 dark:bg-amber-800 px-2.5 py-0.5 text-amber-700">
          <p class="whitespace-nowrap text-sm">Partnership request sent!</p>
        </span>
      <% else %>
        <%= button_to "Send partnership request", partnership_requests_path, method: :post, params: { partnership_request: { requested_to_id: @user.id }}, class: 'btn' %>
      <% end %>
    <% end %>
  </div>
  <section class="gap-4">
    <div class="flex gap-4 justify-between items-center">
      <h2>Details</h2>
      <% if @user == current_user %>
        <%= link_to "Edit", edit_user_registration_path(@user), class: 'btn btn-sm' %>
      <% end %>
    </div>
    <div class="flow-root">
      <dl class="dl">
        <div class="dr">
          <dt class="dt">Username</dt>
          <dd class="dd"><%= @user.username %></dd>
        </div>
        <% if @user == current_user || current_user.is_partner_of?(@user) %>
          <% if @user.first_name %>
            <div class="dr">
              <dt class="dt">First name</dt>
              <dd class="dd"><%= @user.first_name %></dd>
            </div>
          <% end %>
          <% if @user.last_name %>
            <div class="dr">
              <dt class="dt">Last name</dt>
              <dd class="dd"><%= @user.last_name %></dd>
            </div>
          <% end %>
        <% end %>
        <% if @user == current_user %>
          <div class="dr">
            <dt class="dt">Email</dt>
            <dd class="dd"><%= @user.email %></dd>
          </div>
        <% end %>
        <div class="dr">
          <dt class="dt">Member since</dt>
          <dd class="dd"><%= @user.created_at.strftime("%d/%m/%Y") %></dd>
        </div>
      </dl>
    </div>
  </section>
  <section>
    <div class="flex gap-4 justify-between items-center">
      <h2><%= @user == current_user ? "My partners" : "Partners" %></h2>
    </div>
    <% if @user.partners.length > 0 %>
      <ul class="grid-list">
        <% @user.partners.each do |partner| %>
          <li class="grid-list-item"><%= link_to partner.other_user_than(@user).username, user_path(partner.other_user_than(@user)) %></li>
        <% end %>
      </ul>
    <% else %>
      <%= render 'components/empty-section', message: "No partners yet!" %>
    <% end %>
    <% if @user == current_user && @current_user_pending_requests.length > 0 %>
      <h3>Pending requests</h3>
      <ul class="grid-list">
        <% @current_user_pending_requests.each do |request| %>
          <li class="grid-list-item">
            <%= link_to request.requested_to.username, user_path(request.requested_by) %>
            <div class="flex gap-2">
              <%= button_to "Accept", accept_partnership_request_path(request.id), method: :patch, aria: { label: "Accept partnership request" }, class: 'btn-green' %>
              <%= button_to "Decline", partnership_request_path(request.id), method: :delete, aria: { label: "Decline partnership request" }, class: 'btn-red' %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if @user == current_user && @current_user_sent_requests.length > 0 %>
      <h3>Sent requests</h3>
      <ul class="grid-list">
        <% @current_user_sent_requests.each do |request| %>
          <li class="grid-list-item">
            <%= link_to request.requested_to.username, user_path(request.requested_to) %>
            <div class="flex gap-2">
              <%= button_to "Cancel", partnership_request_path(request.id), method: :delete, aria: { label: "Cancel partnership request" }, class: 'btn-red' %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </section>
  <section>
    <div class="flex gap-4 justify-between items-center">
      <h2>Logs</h2>
      <%= link_to 'Add log', new_log_path, class: 'btn btn-sm' unless @user != current_user %>
    </div>
    <h3 class="-mb-1"><%= @user == current_user ? "Your" : @user.name_for(current_user) + "'s" %> logs <% if @user_logs_count > 0 %><span class="opacity-50">(<%= @user_logs_count %> total)</span><% end %></h3>
    <% if @user_logs_count > 0 %>
      <ul class="grid-list-2">
        <%= render partial: 'logs/preview', collection: @user_logs_preview, as: :log %>
      </ul>
    <% else %>
      <%= render 'components/empty-section', message: "No logs recorded yet!", link: { text: 'Add your first log', href: new_cave_log_path(@cave)} %>
    <% end %>
    <% if @user_logs_count > @cutoff_count %>
      <%= link_to "View more →", user_logs_path(@user), aria: { label: "View all #{@user.name_for(current_user)}s logs" } %>
    <% end %>
    <% unless @user_tagged_logs_count == 0 %>
      <h3 class="-mb-1">Logs <%= @user.name_for(current_user) %> tagged you in <% if @user_tagged_logs_count > 0 %><span class="opacity-50">(<%= @user_tagged_logs_count %> total)</span><% end %></h3>
      <ul class="grid-list-2">
        <%= render partial: 'logs/preview', collection: @user_tagged_logs_preview , as: :log %>
      </ul>
    <% end %>
    <% if @user_tagged_logs_count > @cutoff_count %>
      <%= link_to "View more →", "#{user_logs_path(current_user)}?tagged", aria: { label: "View all logs #{@user.name_for(current_user)} has tagged you in" } %>
    <% end %>
  </section>
  <% if current_user.is_partner_of?(@user) %>
    <section>
      <h2>Your partnership</h2>
      <h3>Danger zone</h3>
      <p>Please note that removing <%= @user.username %> as a partner is unrecoverable and you will also lose access any logs that <%= @user.username %> has tagged you in.</p>
      <%= link_to "Remove #{@user.username} as partner", partnership_path(@user.partnership_with(current_user)), data: { 'turbo-method': :delete, "turbo-confirm": 'Are you sure?' }, class: 'btn btn-red w-fit' %>
    </section>
  <% end %>
<% end %>
