<%= page_padding do %>
  <div class="w-full flex justify-center">
    <div class="w-[400px] flex flex-col gap-4 pt-10 sm:pt-24 pb-52">
      <h2>Forgot your password?</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: 'btn' %>
        </div>
      <% end %>
      <span class="flex items-center">
        <span class="h-px flex-1 bg-gray-300 dark:bg-gray-600"></span>
        <span class="shrink-0 px-6 text-gray-600 dark:text-gray-300">or</span>
        <span class="h-px flex-1 bg-gray-300 dark:bg-gray-600"></span>
      </span>
      <div class="flex w-full gap-6 justify-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<% end %>
