<%= render 'components/breadcrumb-topper', links: [{ text: @cave.title, href: cave_path(@cave) }, { text: "Edit cave", href: edit_cave_path(@cave)}] %>
<%= page_padding do %>
  <h1>Edit <%= @cave.title %></h1>
  <section>
    <%= render 'components/audit-warning', item: @cave %>
    <%= render "form", cave: @cave %>
  </section>
<% end %>
