<%= page_padding do %>
  <h1>Welcome <%= !current_user ? "to CaveLog" : "back, #{current_user.name_for(current_user, only_first: true)}" %>!</h1>
  <% if !current_user %>
    <section>
      <div class="max-w-5xl">
        <h2>📔 CaveLog is building a modern logbook for caving</h2>
        <p class="mt-4 opacity-70">We are improving the experience of Excel logbooks for cavers by providing a data-driven tool that provides you with insights about the caves on your wishlist and your logbook.</p>
      </div>
      <div class="mt-4 grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-12 lg:grid-cols-3">
        <div class="flex items-start gap-4">
          <span class="rounded-lg bg-gray-800 py-2 px-3 text-xl sm:text-2xl" aria-label="Emoji representing a log">
            🗒️
          </span>
          <div>
            <h3 class="text-lg">Log your trips</h3>
            <p class="mt-1 text-sm opacity-70">Logging is highly flexible. Add caves, locations in those caves, and the people you went with.</p>
          </div>
        </div>
        <div class="flex items-start gap-4">
          <span class="rounded-lg bg-gray-800 py-2 px-3 text-xl sm:text-2xl" aria-label="Emoji representing a team">
            🤼
          </span>
          <div>
            <h3 class="text-lg">Partner with friends</h3>
            <p class="mt-1 text-sm opacity-70">Add friends on CaveLog to see logs they tag you in and their caving activity.</p>
          </div>
        </div>
        <div class="flex items-start gap-4">
          <span class="rounded-lg bg-gray-800 py-2 px-3 text-xl sm:text-2xl" aria-label="Emoji representing a log">
            🗒️
          </span>
          <div>
            <h3 class="text-lg flex flex-wrap gap-y-1 gap-x-2 items-center mb-1.5">
              Get data-driven insights
              <span class="flex text-xs bg-green-200 dark:bg-green-900 px-1.5 py-0.5 rounded-md opacity-80">In progress</span>
            </h3>
            <p class="mt-1 text-sm opacity-70">Get stats and insights about your caving activities dynamically built for you from your data.</p>
          </div>
        </div>
      </div>
      <div class="max-w-5xl flex flex-col gap-3">
        <p class="opacity-70">Plus, contribute your own knowledge by adding data about caves like subsystems, locations, and (coming soon) cave ratings!</p>
        <%= link_to "Get started now 🚀", new_user_session_path, class: 'btn w-fit px-6' %>
      </div>
    </section>
  <% end %>
  <section>
    <div class="flex justify-between gap-4">
      <h2>Caves</h2>
      <%= link_to_if_signed_in "New Cave", new_cave_path, class: 'btn btn-sm' %>
    </div>
    <%= render "search-bar", path: caves_path %>
    <% if @caves.length > 0 %>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Cave</th>
              <th>Logs</th>
              <% if current_user %>
                <th>Visited</th>
              <% end %>
              <th>Address</th>
            </tr>
          </thead>
          <tbody class="list-none pl-0 divide-y divide-slate-200 dark:divide-slate-800 opcaity-25">
            <% @caves.each do |cave| %>
              <tr>
                <td><%= link_to cave.title, cave_path(cave) %></td>
                <td><%= cave.logs.count %></td>
                <% if current_user %>
                  <td class="flex gap-2 items-center">
                    <% visited_times = cave.visited_times(current_user) %>
                    <%= render 'components/checked', label: "You have visited this cave", size: 16, unchecked: visited_times == 0 %>
                    <span class="text-[0.75rem]"><%= "#{visited_times}x" unless visited_times <= 1 %></span>
                  </td>
                <% end %>
                <td>
                  <%= link_to "🔗", "http://maps.google.com/maps?z=10&t=m&q=loc:#{cave.latitude}+#{cave.longitude}", target: '_blank', aria: { label: "View address on Google Maps"} if cave.address.present? %>
                  <%= cave.address if cave.address.present? %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <%= paginate @caves, theme: 'table' %>
        </table>
      </div>
    <% else %>
      <%= render 'components/empty-section', message: "No caves found in this search" %>
    <% end %>
  </section>
  <% if current_user != nil %>
    <section>
      <div class="flex gap-4 justify-between items-center">
        <h2>Logs</h2>
        <%= link_to 'Add log', new_log_path, class: 'btn btn-sm' %>
      </div>
      <h3 class="-mb-1">Your logs <% if @user_logs_count > 0 %><span class="opacity-50">(<%= @user_logs_count %> total)</span><% end %></h3>
      <% if @user_logs_count > 0 %>
        <ul class="grid-list-2">
          <%= render partial: 'logs/preview', collection: @user_logs_preview, as: :log %>
        </ul>
      <% else %>
        <%= render 'components/empty-section', message: "No logs recorded yet!", link: { text: 'Add your first log', href: new_log_path(@cave)} %>
      <% end %>
      <% if @user_logs_count > @cutoff_count %>
        <%= link_to "View more →", user_logs_path(current_user), aria: { label: "View all #{current_user.name_for(current_user)}s logs" } %>
      <% end %>
      <% unless @logs_user_tagged_in.count == 0 %>
        <h3 class="-mb-1">Logs you are tagged in <% if @logs_user_tagged_in.count > 0 %><span class="opacity-50">(<%= @logs_user_tagged_in.count %> total)</span><% end %></h3>
        <ul class='grid-list-2'>
          <%= render partial: 'logs/preview', collection: @logs_user_tagged_in.take(@cutoff_count), as: :log %>
        </ul>
        <% if @logs_user_tagged_in.count > @cutoff_count %>
          <%= link_to "View more →", "#{logs_path}?tagged=#{current_user.id}", aria: { label: "View all logs #{current_user.name_for(current_user)} has tagged you in" } %>
        <% end %>
      <% end %>
    </section>
  <% end %>
<% end %>
