<%= page_padding do %>
  <% if current_user %>
    <h1>Welcome back, <%= current_user.username %>!</h1>
  <% else %>
    <h1>Welcome to CaveLog!</h1>
  <% end %>
  <section>
    <h2>Caves</h2>
    <%= render "search-bar", path: caves_path %>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Cave</th>
            <th>Info</th>
          </tr>
        </thead>
        <tbody class="list-none pl-0 divide-y divide-slate-200 dark:divide-slate-800 opcaity-25">
          <% @caves.each do |cave| %>
            <tr>
              <td><%= link_to cave.title, cave_path(cave) %></td>
              <td>No info yet</td>
            </tr>
          <% end %>
        </tbody>
        <%= paginate @caves, theme: 'table' %>
      </table>
    </div>
    <%= link_to "New Cave", new_cave_path %>
    <%= link_to "New Log", new_log_path %>
  </section>
<% end %>
