<%= render 'components/breadcrumb-topper', links: [{ text: @cave.title, href: cave_path(@cave)}] %>
<%= page_padding do %>
  <div class="flex items-center gap-3 flex-wrap">
    <h1><%= @cave.title %></h1>
    <% unless @user_logs_count == 0 && @user_tagged_logs_count == 0 %>
      <%= render 'components/checked', label: "You have visited this cave" %>
    <% end %>
  </div>
  <section>
    <div class="flex gap-4 justify-between items-center">
      <h2>Details</h2>
      <%= link_to "Edit", edit_cave_path(@cave), class: 'btn btn-sm' unless !current_user.can_edit %>
    </div>
    <% if @cave.description != "" || (@cave.longitude && @cave.latitude) || @cave.versions.count > 0 %>
      <div class="flow-root">
        <dl class="dl">
          <% unless !@cave.description.present? %>
            <div class="dr">
              <dt class="dt">Description</dt>
              <dd class="dd"><%= simple_format(@cave.description, class: "text-sm") %></dd>
            </div>
          <% end %>
          <% if @cave.longitude && @cave.latitude %>
            <div class="dr">
              <dt class="dt">Approx location</dt>
              <dd class="dd">
                <%= link_to @cave.address, "http://maps.google.com/maps?z=10&t=m&q=loc:#{@cave.latitude}+#{@cave.longitude}", target: '_blank' %>
                <br>
                <% if @cave.latitude <= 0 %>
                  <%= @cave.latitude.round(5).abs() %>S
                <% else %>
                  <%= @cave.latitude.round(5) %>N
                <% end %>
                <% if @cave.longitude <= 0 %>
                  <%= (@cave.longitude).round(5).abs() %>W
                <% else %>
                  <%= @cave.longitude.round(5) %>E
                <% end %>
              </dd>
            </div>
          <% end %>
          <% if @cave_logs_count > 0 %>
            <div class="dr">
              <dt class="dt">Logged trips</dt>
              <dd class="dd"><%= @cave_logs_count %> total trips <% if @user_logs_count > 0 %><span class="opacity-75">(<%= @user_logs_count %> by you)</span><% end %></dd>
            </div>
          <% end %>
          <% if @cave.versions.length > 0 %>
            <div class="dr">
              <dt class="dt">Last edited by</dt>
              <% last_cave_version = @cave.versions.last %>
              <dd class="dd">
                <% if last_cave_version.whodunnit %>
                  <%= link_to User.find(last_cave_version.whodunnit).name_for(current_user), user_path(last_cave_version) %>
                <% else %>
                  Unknown user
                <% end %> on <%= @cave.updated_at.strftime('%d/%m/%y') %>
              </dd>
            </div>
          <% end %>
        </dl>
      </div>
    <% end %>
  </section>
  <section>
    <div class="flex gap-4 justify-between items-center">
      <h2>Locations</h2>
      <div class="flex gap-2 items-center">
        <%= link_to 'Add subsystem', new_cave_subsystem_path(@cave), class: 'btn btn-sm' %>
        <%= link_to "Add location", new_cave_location_path(@cave), class: 'btn btn-sm' %>
      </div>
    </div>
    <%= render 'locations/locations', cave: @cave %>
  </section>
  <section>
    <div class="flex gap-4 justify-between items-center">
      <h2>Logs</h2>
      <%= link_to 'Add log', new_cave_log_path(@cave), class: 'btn btn-sm' %>
    </div>
    <h3 class="-mb-1">Your logs <% if @user_logs_count > 0 %><span class="opacity-50">(<%= @user_logs_count %> total)</span><% end %></h3>
    <% if @user_logs_count > 0 %>
      <ul class="grid-list-2">
        <%= render partial: 'logs/preview', collection: @user_logs_preview, as: :log %>
      </ul>
    <% else %>
      <%= render 'components/empty-section', message: "No logs recorded yet!", link: { text: 'Add your first log', href: new_cave_log_path(@cave)} %>
    <% end %>
    <% if @user_logs_count > @cutoff_count %>
      <%= link_to "View more →", cave_user_logs_path(@cave, current_user), aria: { label: "View all logs you are featured in" } %>
    <% end %>
    <% unless @user_tagged_logs_count == 0 %>
      <h3 class="-mb-1">Logs you are tagged in <% if @user_tagged_logs_count > 0 %><span class="opacity-50">(<%= @user_tagged_logs_count %> total)</span><% end %></h3>
      <ul class="grid-list-2">
        <%= render partial: 'logs/preview', collection: @user_tagged_logs , as: :log %>
      </ul>
    <% end %>
    <% if @user_tagged_logs_count > @cutoff_count %>
      <%= link_to "View more →", "#{cave_user_logs_path(@cave, current_user)}?tagged", aria: { label: "View all logs you are featured in" } %>
    <% end %>
    <h3>Public logs <% if @cave_logs_count > 0 %><span class="opacity-50">(<%= @cave_logs_count %> total)</span><% end %></h3>
    <% if @cave_logs_count > 0 %>
      <ul class="grid-list-2">
        <%= render partial: 'logs/preview', collection: @cave_logs_preview, as: :log %>
      </ul>
    <% else %>
      <%= render 'components/empty-section', message: "No logs recorded yet!", link: { text: 'Add the first log', href: new_cave_log_path(@cave)} %>
    <% end %>
    <% if @cave_logs_count > @cutoff_count %>
      <%= link_to "View all →", cave_logs_path(@cave), aria: { label: "View all public logs" } %>
    <% end %>
  </section>
  <% if current_user.can_delete %>
    <section>
      <h2>Danger zone</h2>
      <div>Be warned! This action permanently and irreversibly deletes this cave and all its subsystem and location data.</div>
      <%= link_to 'Delete', cave_path(@cave), data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' }, class: 'btn btn-red w-fit' %>
    </section>
  <% end %>
<% end %>
