<h1><%= @cave.title %></h1>

<p><%= @cave.description %></p>

<h2>Subsystems</h2>
<% if @cave.subsystems.length == 0 %>
  <p>No subsystems in this cave yet!</p>
  <%= link_to 'Add a subsystem', new_cave_subsystem_path(@cave) %>
<% else %>
  <ul>
    <% @cave.subsystems.each do |subsystem| %>
      <li>
        <a href="<%= cave_subsystem_path @cave, subsystem %>">
          <%= subsystem.title %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Your logs</h2>

<% if @logs.length == 0 %>
  <p>No logs in this cave yet!</p>
  <%= link_to 'Create your first log', new_cave_log_path(@cave) %>
<% else %>
  <ul>
    <% @logs.each do |log| %>
      <li>
        <%= log.personal_comments %>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Actions</h2>

<ul>
  <li><%= link_to "Edit", edit_cave_path(@cave) %></li>
  <li><%= link_to 'Delete', cave_path(@cave), data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } %></li>
  <li><%= link_to 'Create new log', new_cave_log_path(@cave) %></li>
  <li><%= link_to 'Add subsystem', new_cave_subsystem_path(@cave) %></li>
</ul>

<%= link_to "Back to home", root_path %>
