<%= turbo_frame_tag "log_details_#{@log.id}" do %>
  <div class="flow-root">
    <dl class="dl">
      <% if log.user != current_user %>
        <div class="dr">
          <dt class="dt">Log created by</dt>
          <dd class="dd">
            <%= link_to log.user.name_for(current_user), user_path(log.user), data: { turbo: false} %>
          </dd>
        </div>
      <% end %>
      <div class="dr">
        <dt class="dt">Group size</dt>
        <% if log.log_partner_connections.length > 0 %>
          <!-- Account for user -->
          <dd class="dd"><%= log.log_partner_connections.length + 1 %></dd>
        <% else %>
          <dd class="dd">Solo trip</dd>
        <% end %>
      </div>
      <div class="dr">
        <dt class="dt">Started trip at </dt>
        <dd class="dd"><%= log.format_datetime(log.start_datetime) %></dd>
      </div>
      <div class="dr">
        <dt class="dt">Ended trip at </dt>
        <dd class="dd"><%= log.format_datetime(log.end_datetime) %></dd>
      </div>
      <div class="dr">
        <dt class="dt">Trip duration</dt>
        <dd class="dd"><%= log.length_of_log %></dd>
      </div>
      <div class="dr">
        <dt class="dt">Personal comments</dt>
        <dd class="dd">
          <%= simple_format(log.personal_comments, class: "text-sm") %>
        </dd>
      </div>
    </dl>
  </div>
<% end %>
