<%= turbo_frame_tag "log_caves_#{@log.id}" do %>
  <div class="flex justify-between">
    <h2>Caves visited</h2>
    <%= link_to "Done editing", log_path(log) %>
  </div>
  <h3>Currently on log</h3>
  <ul>
    <% current_caves.each do |cc| %>
      <% if cc.cave.present? %>
        <li>
          <div class="flex gap-4 items-center"><%= cc.cave.title %><%= render "caves/attached-cave-form", path: remove_cave_log_path(@log), action: "Remove", cave: cc.cave, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure? Any locations related to this cave will be deleted for this log as well." } %></div>
        </li>
      <% else %>
        <li>
          <div class="flex gap-4 items-center"><%= cc.cave_title %><%= render "remove-unconnected-cave-copy-form", path: remove_unconnected_cave_log_path(@log), lcc: cc %></div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <h3>Add additional caves</h3>
  <%= render "caves/search-bar", path: edit_caves_log_path(@log) %>
  <ul>
    <% available_caves.each do |cave| %>
      <li>
        <div class="flex gap-4 items-center"><%= cave.title %><%= render "caves/attached-cave-form", path: add_cave_log_path(@log), action: "Add", cave: cave, data: {} %></div>
      </li>
    <% end %>
  </ul>
<% end %>
