<%= form_for [cave, log] do |form| %>
  <h3>Trip length</h3>
  <div>
    <%= form.label :start_datetime %>
    <%= form.datetime_local_field :start_datetime %>
    <%= render 'components/forms/errors', error_messages: @log.errors.full_messages_for(:start_datetime) %>
  </div>
  <div>
    <%= form.label :end_datetime %>
    <%= form.datetime_local_field :end_datetime %>
    <%= render 'components/forms/errors', error_messages: @log.errors.full_messages_for(:end_datetime) %>
  </div>
  <h3>Personal comments</h3>
  <div>
    <%= form.label :personal_comments %>
    <%= form.text_area :personal_comments %>
    <%= render 'components/forms/errors', error_messages: @log.errors.full_messages_for(:personal_comments) %>
  </div>
  <div class="flex gap-2 items-center">
    <%= form.submit class: 'btn' %>
    <%= link_to "Cancel", log_path(log) %>
  </div>
<% end %>
