<%= form_for [cave, log] do |form| %>
  <div>
    <%= form.label :start_datetime %>
    <%= form.datetime_local_field :start_datetime %>
    <% @log.errors.full_messages_for(:start_datetime).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :end_datetime %>
    <%= form.datetime_local_field :end_datetime %>
    <% @log.errors.full_messages_for(:end_datetime).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :personal_comments %><br>
    <%= form.text_area :personal_comments %><br>
    <% @log.errors.full_messages_for(:personal_comments).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.fields_for :log_cave_copy do |log_cave_copy_fields| %>
      <% if @cave.present? %>
        <%= log_cave_copy_fields.hidden_field :cave_id, value: @cave.id %>
        <%= log_cave_copy_fields.hidden_field :cave_title, value: @cave.title %>
      <% else %>
        <%= log_cave_copy_fields.label :cave_title %><br>
        <%= log_cave_copy_fields.text_field :cave_title %><br>
        <% @log.log_cave_copy.errors.full_messages_for(:cave_title).each do |message| %>
          <div><%= message %></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
