<%= turbo_frame_tag "locations_visited" do %>
  <%= content_spacing do %>
    <h2>Locations visited</h2>
    <% if locations_data[:caves].length > 0 %>
      <% locations_data[:caves].each do |cave| %>
        <% if cave[:total_locations] == 0 %>
          <div class="flex flex-col gap-2">
            <h3 id="<%= "locations_cave_#{cave[:cave][:data].id}" %>"><%= cave[:cave][:data].title %></h3>
            <p>This cave doesn't have any locations yet to log!</p>
            <%= link_to "Add a location in #{cave[:cave][:data].title}", new_cave_location_path(cave[:cave][:data]), data: { turbo: false } %>
          </div>
        <% else %>
          <%= turbo_frame_tag "log_locations_cave_#{cave[:cave][:data].id}" do %>
            <div class="flex flex-col gap-2">
              <div class="flex justify-between items-center">
                <h3 id="<%= "locations_cave_#{cave[:cave][:data].id}" %>"><%= cave[:cave][:data].title %></h3>
                <% if @log.user == current_user %>
                  <%= link_to "Edit", edit_cave_log_location_copies_path(log, cave[:cave][:data]), aria: { label: "Edit locations logged in #{cave[:cave][:data][:title]}"}, class: 'btn btn-sm' %>
                <% end %>
              </div>
              <div class="table-container">
                <table>
                  <thead>
                    <tr>
                      <th>Location</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if cave[:locations_visited_count] == 0 %>
                      <tr>
                        <td class="bg-orange-50">
                          Cave visited but no locations logged
                          <%= link_to "Edit", edit_cave_log_location_copies_path(log, cave[:cave][:data]) %>
                        </td>
                      </tr>
                    <% else %>
                      <% cave[:subsystems].each do |subsystem| %>
                        <% if subsystem[:locations_visited_count] > 0 %>
                          <tr>
                            <th colspan="2">
                              <%= subsystem[:data].title %>
                            </th>
                          </tr>
                          <% subsystem[:locations].each do |location| %>
                            <% if location[:connection] %>
                              <tr>
                                <td><%= location[:data].title %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                      <% if cave[:subsystems].length != 0 && cave[:cave][:locations_visited_count] > 0 %>
                        <tr>
                          <th colspan="2">Miscellaneous</th>
                        </tr>
                      <% end %>
                      <% cave[:cave][:locations].each do |location| %>
                        <% if location[:connection].present? %>
                          <tr>
                            <td><%= location[:data].title %></td>
                          </tr>
                        <% end %>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <%= render 'components/empty-section', message: 'Must attach a cave to add locations' %>
    <% end %>
  <% end %>
<% end %>
