<%= render 'components/breadcrumb-topper', links: [{ text: "Log entry", href: log_path(@log) }] %>
<%= page_padding do %>
  <h1>Log entry <span class="text-2xl text-gray-700">#<%= @log.id %></span></h1>
  <section>
    <%= turbo_frame_tag "log_details" do %>
      <%= content_spacing do %>
        <div class="flex justify-between items-center">
          <h2>Details</h2>
          <% if @log.user == current_user %>
            <%= link_to "Edit", edit_log_path(@log.id), aria: { label: "Edit details" }, class: 'btn btn-sm' %>
          <% end %>
        </div>
        <%= turbo_frame_tag "log_details_#{@log.id}" do %>
          <%= render 'details-section', log: @log, current_user: current_user %>
        <% end %>
      <% end %>
    <% end %>
  </section>
  <section>
    <%= turbo_frame_tag "log_partners_#{@log.id}" do %>
      <%= content_spacing do %>
        <div class="flex justify-between items-center">
          <h2>Trip partners</h2>
          <% if @log.user == current_user %>
            <%= link_to "Edit", edit_log_partner_connections_path(@log.id), aria: { label: "Edit partners" }, class: 'btn btn-sm' %>
          <% end %>
        </div>
        <% if @log.log_partner_connections.length > 0 %>
          <ul class="grid-list">
            <% @log.log_partner_connections.each do |lpc| %>
              <li class="grid-list-item">
                <% if lpc.partnership %>
                  <%= link_to lpc.partnership.other_user_than(@log.user).name_for(current_user), user_path(lpc.partnership.other_user_than(@log.user)), data: { turbo: false } %>
                <% else %>
                  <%= lpc.partner_name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <%= render 'components/empty-section', message: 'No partners added' %>
        <% end %>
      <% end %>
    <% end %>
  </section>
  <section>
    <%= render 'caves-visited', log: @log, unconnected_caves: @unconnected_caves, locations_data: @locations_data %>
  </section>
  <section>
    <%= render 'locations-visited', locations_data: @locations_data, log: @log %>
    <%= render 'unconnected_locations_visited', unconnected_locations: @unconnected_locations, log: @log %>
  </section>
  <% if @log.user == current_user %>
    <section>
      <h2>Danger zone</h2>
      <p>Please note that deleting a log is unrecoverable and you will also remove any votes applied from this log.</p>
      <%= link_to 'Delete log', log_path(@log), data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' }, class: 'btn btn-red w-fit' %>
    </section>
  <% end %>
<% end %>
