<h1>Log entry</h1>
<h2>Personal comments</h2>
<p><%= @log.personal_comments %></p>
<h2>Caves visited</h2>
<ul>
  <% @log.caves.each do |cave| %>
    <li><%= link_to cave.title, "#locations_cave_#{cave.id}" %></li>
  <% end %>
  <% @unconnected_caves.each do |unconnected_cave| %>
    <li><%= unconnected_cave.cave_title %></li>
  <% end %>
</ul>
<h2>Locations visited</h2>
<% @locations_data[:caves].each do |cave| %>
  <%= turbo_frame_tag "locations_cave_#{cave[:cave][:data].id}" do %>
    <div class="flex justify-between">
      <h3 id="<%= "locations_cave_#{cave[:cave][:data].id}" %>"><%= cave[:cave][:data].title %></h3>
      <%= link_to "Edit", log_path(@log) + "/edit_cave_locations/#{cave[:cave][:data].id}" %>
    </div>
  <% end %>
<% end %>
