<%= form_with(model: [@parent, @locatable, @location], local: true) do |form| %>
  <div class="field">
    <%= form.label :attached_to %>
    <%= form.collection_select :subsystem_id, @parent == nil ? @locatable.subsystems : @parent.subsystems, :id, :title, include_blank: "No subsystem", selected: @parent == nil ? nil : @locatable.id %>
  </div>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= render 'components/forms/errors', error_messages: @location.errors.full_messages_for(:title) %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
    <%= render 'components/forms/errors', error_messages: @location.errors.full_messages_for(:description) %>
  </div>
  <div class="action">
    <%= form.submit class: 'btn' %>
  </div>
<% end %>
