<%= form_with(model: [@parent, @locatable, @location], local: true) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= render 'components/forms/errors', error_messages: @location.errors.full_messages_for(:title) %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
    <%= render 'components/forms/errors', error_messages: @location.errors.full_messages_for(:description) %>
  </div>
  <div>
    <%= form.submit class: 'btn' %>
  </div>
<% end %>
