<%= render 'components/breadcrumb-topper', links: [{ text: @parent&.title, href: @parent&.path }, { text: @locatable.title, href: @locatable.path }, { text: @location.title, href: @location.path }] %>
<%= page_padding do %>
  <h1><%= @location.title %></h1>
  <% if @location.description.present? %>
    <p><%= @location.description %></p>
  <% end %>
  <section>
    <h2>Actions</h2>
    <ul>
      <li><%= link_to "Edit", params[:subsystem_id].present? ? edit_cave_subsystem_location_path(@parent, @locatable, @location) : edit_cave_location_path(@locatable, @location) %></li>
      <li><%= link_to "Back to #{@location.locatable.title}", @location.locatable.path %></li>
    </ul>
  </section>
<% end %>
