<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cavelog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-full">
    <div class="flex gap-4 justify-between bg-white items-center py-2 px-6 sticky top-0 h-12 shadow-sm z-50">
      <%= link_to "CaveLog", root_path %>
      <div class="flex gap-4 items-center">
        <% if user_signed_in? %>
          <%= link_to "My profile", user_path(current_user) %>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= button_to "Sign in", new_user_session_path %>
        <% end %>
      </div>
    </div>
    <% if notice.present? %>
      <p class="sticky top-12 w-[calc(100% + 2rem)] bg-green-200 bg-opacity-75 backdrop-blur-md shadow-sm z-40 overflow-x-clip flex items-center gap-1 text-sm text-gray-600 py-2 px-6"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="sticky top-12 w-[calc(100% + 2rem)] bg-orange-200 bg-opacity-75 backdrop-blur-md shadow-sm z-40 overflow-x-clip flex items-center gap-1 text-sm text-gray-600 py-2 px-6"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
